@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.chip {
  cursor: pointer;
  border: 2px solid black;
  color: black;
  background-color: #FFFFFF;
  border-radius: 22px;
  padding: 2px 12px;
  margin-left: 10px;
}
.chip:hover{
  background-color: aliceblue;
}
.chip.active{
  background-color: black;
  color: #FFFFFF;
}